@use "../common/variables" as *;
@use "../common/mixins" as *;

// Project: Slider
.p-slider {
  padding-block: 80px;

  &__splide {
    height: 100%;
  }

  &__track {
    height: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 100%;
      display: block;
    }

    &--01 {
      width: 186px;
      align-items: flex-start;
    }

    &--02 {
      width: 205px;
      padding-block: 45px;
      align-items: center;
    }

    &--03 {
      width: 186px;
      align-items: flex-end;
    }

    &--04 {
      width: 205px;
      align-items: flex-start;
    }

    &--05 {
      width: 170px;
      padding-block: 45px;
      align-items: center;
    }

    &--06 {
      width: 205px;
      align-items: flex-end;
    }
  }
}