@use "./variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  background: $color-bg;
  margin: 0;
}

a {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}